{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(form)}}
        {{ form_row(form.pseudo) }}
        {{ form_row(form.nom)}}
        {{ form_row(form.prenom) }}
        {{ form_row(form.email) }}
        {{ form_row(form.civilite) }}
        {{ form_row(form.statut) }}
        
        <button type="submit" class="btn btn-dark mb-5">Register</button>
    {{ form_end(form) }}
{% endblock %}
